<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-default}">
<head>
  <link rel="stylesheet" href="/css/admin/common.css" />
  <link rel="stylesheet" href="/css/admin/user/user.css" />
</head>
<div layout:fragment="admin-content">
  <form th:action="@{/admin/user/update/password}" th:object="${request}" th:method="put">
    <div class="user-save-container">
      <div class="user-save-form">
        <label for="user-id" class="input-label">기존 비밀번호</label>
        <input id="user-id" type="password" th:field="*{prevPassword}" class="form-control" required>
      </div>
      <div class="user-save-form">
        <label for="user-name" class="input-label">새 비밀번호</label>
        <input id="user-name" type="password" class="form-control" th:field="*{newPassword}" required>
        <input type="hidden" th:field="*{id}">
      </div>
      <div class="submit-btn-wrapper">
        <a class="before-btn" href="/admin/user">이전</a>
        <button type="submit" class="submit-btn">수정</button>
      </div>
    </div>
  </form>
</div>
</html>