<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header}">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    .admin-container .admin-wrapper .left-nav .nav-pills .nav-item .nav-link.active {
      background-color: dodgerblue; !important;
    }
  </style>
</head>
<body>

  <div>
    <div th:replace="~{fragments/nav.html :: navFrament}" />
  </div>

  <div class="admin-container">
    <div class="admin-wrapper">
      <div class="left-nav">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/admin/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/works">Works</a>
          </li>
        </ul>
      </div>
      <div class="home-image-wrapper">
        <div class="home-image-table">
          <table class="table table-hover">
            <thead>
            <tr class="table-dark">
              <th scope="col"></th>
              <th scope="col">ID</th>
              <th scope="col">Title</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-light">
              <th scope="row" ><input class="form-check-input" type="checkbox" value=""></th>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr class="table-light">
              <th scope="row"><input class="form-check-input" type="checkbox" value=""></th>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="home-image-button-wrapper">
          <div class="home-image-save">
<!--            <button type="button" class="btn btn-success">저장</button>-->
            <a class="btn btn-success" href="/admin/home/save">저장</a>
          </div>
          <div class="home-image-delete">
            <button type="button" class="btn btn-danger">삭제</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-footer">ALL IMAGES AND SITE CONTENT © CHOI MYEONGHEON</div>

  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/js/bootstrap.esm.js"></script>
</body>
</html>