<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header}">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    .admin-container .admin-wrapper .left-nav .nav-pills .nav-item .nav-link.active {
      background-color: dodgerblue; !important;
    }
  </style>
</head>
<body>

  <div>
    <div th:replace="~{fragments/nav.html :: navFrament}" />
  </div>

  <div class="home-image-save-container">
    <div class="home-image-save-wrapper">
      <div class="home-image-saved">
          <p>리스트</p>
      </div>
      <div class="home-image-save-form">
        <form class="home-image-form">
          <div class="home-image-save-input">
            <div class="form-group">
              <label for="formFile" class="form-label mt-4">홈 이미지로 저장할 파일</label>
              <input class="form-control" type="file" id="formFile">
              <label class="form-label mt-4">Title</label>
              <input type="text" class="form-control" placeholder="Title">
            </div>
          </div>
          <div class="home-image-save-btn-wrapper">
            <button type="submit" class="btn btn-success home-image-save-btn">저장</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="home-footer">ALL IMAGES AND SITE CONTENT © CHOI MYEONGHEON</div>

  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/js/bootstrap.esm.js"></script>
</body>
</html>