<!DOCTYPE html>
<html   lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/admin-default}">
<head>
    <link rel="stylesheet" href="/css/admin/common.css" />
    <link rel="stylesheet" href="/css/admin/contact/contacts.css" />
    <script src="/js/contacts.js" defer></script>
</head>
<div layout:fragment="admin-content" class="admin-contact-content">
    <div class="admin-contact-header">
        <span class="admin-contact-cnt">
            <span class="not-read-cnt" th:text="${response.notReadContactCount}"></span>
            <span class="read-cnt" th:text="| / ${response.totalContactCount}|"></span>
        </span>
    </div>
    <div class="divTable minimalistBlack">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead del-chk-header"><input type="checkbox" /></div>
                <div class="divTableHead contact-sender-header">보낸 사람</div>
                <div class="divTableHead contact-sender-email-header">이메일</div>
                <div class="divTableHead contact-title-header">제목</div>
                <div class="divTableHead contact-date-header">일자</div>
            </div>
        </div>
        <div class="divTableBody">
            <div class="divTableRow" th:each="contact : ${response.contactDtoList}"
                 th:onclick="|rowClick(event, '${contact.id}')|" th:classappend="${contact.readYn == 'Y' ? 'read' : 'not-read'}">
                <div class="divTableCell del-chk"><input type="checkbox"></div>
                <div class="divTableCell contact-sender" th:text="${contact.senderName}"></div>
                <div class="divTableCell contact-sender-email" th:text="${contact.senderEmail}"></div>
                <div class="divTableCell contact-title" th:text="${contact.subject}"></div>
                <div class="divTableCell contact-date" th:text="${contact.createdAt}"></div>
            </div>
        </div>
    </div>
</div>
</html>