<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-default}">
<head>
    <link rel="stylesheet" href="/css/admin/common.css" />
    <link rel="stylesheet" href="/css/admin/contact/detail.css" />
</head>
<div layout:fragment="admin-content">
    <div class="contact-detail-container">
        <div class="contact-detail-form">
            <label for="contact-sender-name" class="input-label">Content</label>
            <input id="contact-sender-name" type="text" class="form-control" th:field="*{contact.senderName}" readonly>
        </div>
        <div class="contact-detail-form">
            <label for="contact-sender-email" class="input-label">Content</label>
            <input id="contact-sender-email" type="text" class="form-control" th:field="*{contact.senderEmail}" readonly>
        </div>
        <div class="contact-detail-form">
            <label for="contact-subject" class="input-label">Content</label>
            <input id="contact-subject" type="text" class="form-control" th:field="*{contact.subject}" readonly>
        </div>
        <div class="contact-detail-form">
            <label for="contact-content" class="input-label">Content</label>
            <textarea id="contact-content" cols="30" rows="10" type="text" class="textarea-control" th:field="*{contact.content}" readonly></textarea>
        </div>
        <div class="submit-btn-wrapper">
            <a class="before-btn" href="/admin/contact">이전</a>
        </div>
    </div>
</div>
</html>