<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="admin-container" th:fragment="admin-navbar">
  <div class="admin-navbar">
    <a href="/admin/home-images" class="admin-home-image-btn">Home</a>
    <a href="/admin/works" class="admin-work-btn">Works</a>
    <a href="/admin/profile/all" class="admin-profile-btn">Biography</a>
    <a href="#none">Contact</a>
  </div>
  <div class="admin-content">
    <div layout:fragment="admin-content"></div>
  </div>
</div>
</html>