<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar" th:fragment="navbar">
        <div class="navbar-logo">
            <a href="/home">CHOIMYEONGHEON</a>
        </div>
        <ul class="navbar-menu">
            <li class="navbar-menu-works">
                <a href="/works/all" class="nav-works">Works</a>
                <ul class="navbar-dropdown-submenu">
                    <li><a href="/works/all" th:classappend="${selectedYear} == 'all' ? 'year-active' : ''">All</a></li>
                    <li class="navbar-dropdown-submenu-separator">|</li>
                    <li th:each="wy : ${workYears}"><a th:href="@{/works/{year}(year=${wy.year})}" href="/works/2018" th:text="${wy.year}"
                        th:classappend="${wy.year} == ${selectedYear} ? 'year-active' : ''">2018</a></li>
                </ul>
            </li>
            <li><a href="/profiles" class="nav-profiles">Profile</a></li>
            <li><a href="/contact" class="nav-contact">Contact</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/admin/home-images" style="color: dodgerblue">Admin</a></li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post" onsubmit="return logoutHandler()">
                    <button class="logout-btn">Logout</button>
                </form>
            </li>
        </ul>
        <ul class="navbar-icons">
            <li class="li-fa-instagram"><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-solid fa-magnifying-glass"></i></li>
        </ul>
        <a href="#" class="navbar-toogleBtn"><i class="fas fa-bars"></i></a>
    </nav>
</html>