<!DOCTYPE html>
<html   lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/admin-default}">
<head>
  <link rel="stylesheet" href="/css/admin/common.css" />
  <link rel="stylesheet" href="/css/admin/profile/profiles.css" />
  <script src="/js/profiles.js" defer></script>
</head>
<div layout:fragment="admin-content">
  <div class="admin-content-header">
    <!-- <h3>현재 저장된 홈 이미지 (1)</h3> -->
    <a href="/admin/profile/save-form" class="admin-content-header-save-btn">저장</a>
    <a href="/admin/profile/delete-form" class="admin-content-header-del-btn">삭제</a>
    <select name="workDate" class="admin-content-header-select" id="profile-type-select" onchange="sendGetRequest()">
      <option th:selected="All == ${selectedType}" value="All">All</option>
      <option th:each="profileType : ${profileTypes}" th:text="${profileType.type}" th:selected="${profileType.lowerCase} == ${selectedType}" th:value="${profileType.lowerCase}">2018</option>
    </select>
  </div>
  <div class="divTable minimalistBlack">
    <div class="divTableHeading">
      <div class="divTableRow">
        <div class="divTableHead profile-type-header">Type</div>
        <div class="divTableHead profile-year-header">Year</div>
        <div class="divTableHead profile-content-header">Content</div>
        <div class="divTableHead profile-content-en-header">Content(En)</div>
      </div>
    </div>
    <div class="divTableBody">
      <div class="divTableRow" th:each="profile : ${profiles}">
        <div class="divTableCell profile-type" th:text="${profile.profileType}"></div>
        <div class="divTableCell profile-year" th:text="${profile.year}"></div>
        <div class="divTableCell profile-content" th:text="${profile.content}"></div>
        <div class="divTableCell profile-content-en" th:text="${profile.contentEn}"></div>
      </div>
    </div>
  </div>
</div>
</html>