.admin-work-btn {
    background-color: rgb(225, 233, 249);
    color: #0273e6;
    font-weight: 500;
    border-radius: 4px;
}

.home-image-content-header {
    display: flex;
    justify-content: flex-start;
}

.home-image-content-header a {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 6px;
    height: 21.5px;
    line-height: 21.5px;
    margin-top: 10px;
    font-size: 1rem;
}

.home-image-content-header button {
    display: inline-block;
    padding: 8px 14px;
    height: 21.5px;
    line-height: 21.5px;
    box-sizing: content-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.before-btn {
    margin: 0 10px;
}

.home-image-content-header-save-btn {
    /* background-color: rgb(225, 233, 249); */
    border: 2px solid var(--admin-save-btn-color);
    color: var(--admin-save-btn-color);
    font-weight: 500;
    margin: 0 10px 0 10px;
}

.home-image-content-header-save-btn:hover {
    /* background-color: rgb(225, 233, 249); */
    border: 2px solid var(--admin-save-btn-color);
    color: #fff;
    font-weight: 500;
    background-color: var(--admin-save-btn-color);
}

.home-image-content-header-del-btn {
    background-color: #fff;
    border: 2px solid var(--admin-del-btn-color);
    color: var(--admin-del-btn-color);
    font-weight: 500;
}

.home-image-content-header-del-btn:hover {
    border: 2px solid var(--admin-del-btn-color);
    color: #fff;
    font-weight: 500;
    background-color: var(--admin-del-btn-color);
}

div.minimalistBlack {
    /* border: 1px solid #000000; */
    width: calc(100% - 20px);
    text-align: left;
    border-collapse: collapse;
    margin: 20px auto 10px auto;
}

.divTable.minimalistBlack .divTableCell,
.divTable.minimalistBlack .divTableHead {
    border: 1px solid var(--admin-border-color);
    padding: 5px 4px;
}
.divTable.minimalistBlack .divTableBody .divTableCell {
    font-size: 1rem;
    text-align: center;
}
.divTable.minimalistBlack .divTableHeading {
    background-color: var(--admin-background-color);
}
.divTable.minimalistBlack .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    text-align: center;
}

/* DivTable.com */
.divTable {
    display: table;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    display: table-header-group;
}
.divTableCell,
.divTableHead {
    display: table-cell;
    vertical-align: middle;
}
.divTableHeading {
    display: table-header-group;
}
.divTableFoot {
    display: table-footer-group;
}
.divTableBody {
    display: table-row-group;
}

.divTableHeading .divTableRow .del-chk-header {
    width: 50px;
}

.del-chk {
    text-align: center;
    vertical-align: middle;
}

.divTableHeading .divTableRow .home-image-header {
    width: 190px;
}

.divTableBody .divTableRow .home-image {
    padding: 20px;
}

.divTableBody .divTableRow .home-image > img {
    width: 100%;
    display: block;
    aspect-ratio: 1/1;
}

.divTableHeading .divTableRow .home-image-title-header,
.divTableHeading .divTableRow .home-image-reg-date-header,
.divTableHeading .divTableRow .home-image-work-date-header{
    width: 200px;
}

.divTableBody .divTableRow .home-image-title,
.divTableBody .divTableRow .home-image-reg-date,
.divTableBody .divTableRow .home-image-work-date {
    width: max-content;
    max-width: 200px;
    word-break: break-all;
}

.divTableBody .divTableRow .home-image-file-name {
    width: max-content;
    word-break: break-all;
}

select::-ms-expand {
    display: none;
}
.work-date-select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    height: 41.5px;
    background: url("../../images/angle-down-solid.svg") calc(100% - 5px) center no-repeat;
    background-size: 15px;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    outline: 0 none;
    margin-top: 10px;
    margin-left: 20px;
}
.work-date-select option {
    background: black;
    color: #fff;
    padding: 3px 0;
}