/*.container {
    max-width: 1000px;
    !*margin: 40px 40px 0 40px;*!
    margin: 60px auto 0 auto;
    padding: 8px 24px;
}*/

.nav-profiles {
    color: var(--accent-color);
}

.profile-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 8px 24px;
}

.type-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.75rem;
}

.type-header {
    font-size: 1.8rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid black;
}

.profile-container {
    display: flex;
    padding-top: 1.5rem;
    font-size: 1rem;
}

.profile-container-kr,
.profile-container-en {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profile-container-en {
    display: flex;
    width: 50%;
}

.profile-content-container {
    display: flex;
}

.profile-year {
    width: 120px;
    flex-shrink: 0;
}

.profile-year {
    padding-bottom: 0.25rem;
}

.profile-content {
    padding-bottom: 0.25rem;
}

@media screen and (min-width: 1600px) {
    .container {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1050px) {
    .profile-container-kr {
        width: 100%;
    }

    .profile-container-en {
        display: none;
    }
}