:root {
    --text-color: #263343;
    --background-color: white;
    --accent-color: #d49466;
    --media-background-color: #f0f4f5;
    --navbar-toogleBtn-color: rgba(33, 33, 33, 0.519);
    --admin-background-color: #f5f7fa;
    --admin-border-color: #e1e1e1;
    --admin-del-btn-color: rgba(135, 22, 22, 0.921);
    --admin-save-btn-color: rgb(36, 77, 158);
    --input-border-color: #dee2e6;
    --before-btn-background-color: rgb(128, 128, 128);
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

i {
    cursor: pointer;
}

.input-label {
    font-size: 1rem;
    font-weight: 600;
}

.main-container {
    margin-top: 40px;
}

.submit-btn {
    display: inline-block;
    padding: 8px 20px;
    height: 21.5px;
    line-height: 21.5px;
    box-sizing: content-box;
    color: var(--accent-color);
    background-color: var(--background-color);
    border: 2px solid var(--accent-color);
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.submit-btn:hover {
    color: #fff;
    font-weight: 500;
    background-color: var(--accent-color);
}