.row {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    width: 25%;
    padding: 0 10px;
}

.work-list-container {
    padding: 8px 12px;
    margin: 0 40px;
    max-width: 1536px;
}

.work-list-container > ul {
    margin: 0 -10px;
}

.work-img-container > img {
    width: 100%;
    display: block;
    aspect-ratio: 1/1;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.work-img-container > img.loaded {
    opacity: 1;
}

.work-info {
    margin-top: 6px;
    text-align: right;
    font-size: 1.0rem;
}

.work-info-year {
    font-size: 1.0rem;
    text-align: right;
}

.nav-works {
    color: var(--accent-color);
}

.navbar-dropdown-submenu {
    display: flex;
}

#work-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

.work-modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.work-modal-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.work-modal-img-container {
    height: 80vh;
}

.work-modal-img-container img {
    max-height: 100%;
    width: 100%;
}

@media screen and (max-width: 1150px) {
    .work-info {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 950px) {
    .work-info {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    .work-list-container {
        margin: 0;
    }

    .cell {
        width: 50%;
    }

    .work-info {
        font-size: 14px;
    }

    .nav-works {
        color: var(--text-color);
    }

}

@media screen and (max-width: 380px) {
    .work-list-container {
        margin: 0;
    }

    .cell {
        width: 100%;
    }

    .work-info {
        font-size: 12px;
    }
}

@media screen and (min-width: 1600px) {
    .work-list-container {
        margin: 0 auto;
    }
}