<!DOCTYPE html>
<html   lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/admin-default}">
<head>
  <link rel="stylesheet" href="/css/admin/common.css" />
  <link rel="stylesheet" href="/css/admin/homeImage/homeImages.css" />
  <script src="/js/common.js" defer></script>
</head>
<div layout:fragment="admin-content">
  <form th:action="@{/admin/home-images}" th:object="${request}" th:method="delete" onsubmit="return deleteHandler()">
    <div class="admin-content-header">
      <!-- <h3>현재 저장된 홈 이미지 (1)</h3> -->
      <a class="before-btn delete-page-before-btn" href="/admin/home-images">이전</a>
      <button type="submit" class="admin-content-header-del-btn">삭제</button>
    </div>
    <div class="divTable minimalistBlack">
      <div class="divTableHeading">
        <div class="divTableRow">
          <div class="divTableHead del-chk-header"><input type="checkbox" /></div>
          <div class="divTableHead home-image-header">이미지</div>
          <div class="divTableHead home-image-title-header">제목</div>
          <div class="divTableHead home-image-reg-date-header">등록일자</div>
          <div class="divTableHead home-image-file-name-header">파일명</div>
        </div>
      </div>
      <div class="divTableBody">
        <div class="divTableRow" th:each="homeImage, itemStat : *{homeImageDeletionDtoList}">
          <div class="divTableCell del-chk"><input type="checkbox" th:field="*{homeImageDeletionDtoList[__${itemStat.index}__].isDeleted}"></div>
          <div class="divTableCell home-image"><img th:src="'/admin/home-images/display?fileName='+${homeImage.fileName}" /></div>
          <div class="divTableCell home-image-title" th:text="${homeImage.title}"></div>
          <div class="divTableCell home-image-reg-date" th:text="${homeImage.regDate}"></div>
          <div class="divTableCell home-image-file-name" th:text="${homeImage.originName}"></div>
          <input type="hidden" th:field="*{homeImageDeletionDtoList[__${itemStat.index}__].id}">
          <input type="hidden" th:field="*{homeImageDeletionDtoList[__${itemStat.index}__].fileName}">
          <input type="hidden" th:field="*{homeImageDeletionDtoList[__${itemStat.index}__].originName}">
          <input type="hidden" th:field="*{homeImageDeletionDtoList[__${itemStat.index}__].title}">
          <input type="hidden" th:field="*{homeImageDeletionDtoList[__${itemStat.index}__].regDate}">
        </div>
      </div>
    </div>
  </form>
</div>
</html>