<!DOCTYPE html>
<html   lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
<head>
  <link rel="stylesheet" href="/css/contact.css" />
</head>
<div layout:fragment="content">
  <form th:action="@{/contact}" th:object="${request}" method="post">
    <div class="contact-container">
      <div>
        <label for="contact-name" class="input-label">Name</label>
        <input id="contact-name" type="text" class="form-control" placeholder="Name" th:field="*{senderName}" required>
      </div>
      <div>
        <label for="contact-email" class="input-label">Email</label>
        <input id="contact-email" type="email" class="form-control" placeholder="Email" th:field="*{senderEmail}" required>
      </div>
      <div>
        <label for="contact-subject" class="input-label">Subject</label>
        <input id="contact-subject" type="text" class="form-control" placeholder="Subject" th:field="*{subject}" required>
      </div>
      <div>
        <label for="contact-content" class="input-label">Content</label>
        <textarea id="contact-content" cols="30" rows="10" class="textarea-control" th:field="*{content}" required></textarea>
      </div>
      <div class="contact-submit-btn-container">
        <button type="submit" class="submit-btn">Send</button>
      </div>
    </div>
  </form>
</div>
</html>