<!DOCTYPE html>
<html   lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
<head>
    <link rel="stylesheet" href="/css/home.css" />
    <script src="/js/common.js" defer></script>
    <script src="/js/image.js" defer></script>
</head>
<div layout:fragment="content">
    <div class="home-container">
        <div class="home-image-container">
            <img th:src="'/admin/home-images/display?fileName='+${response.fileName}" onerror="this.src='images/test1.jpeg'" class="img-fluid home-image">
        </div>
        <div class="home-image-info">
            <p class="img-explain frank-ruhl-libre" th:text="${response.title}"></p>
        </div>
    </div>
</div>
</html>