<!DOCTYPE html>
<html   lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
<head>
    <link rel="stylesheet" href="/css/profiles.css" />
    <script src="/js/profiles.js" defer></script>
</head>
<div layout:fragment="content">
    <div class="profile-wrapper">
        <div class="about-me-container"></div>
        <div class="type-container" th:each="profileType : ${profileTypes}">
            <div class="type-header frank-ruhl-libre" th:text="${profileType.typeEn}">Education</div>
            <div class="profile-container">
                <div class="profile-container-kr">
                    <div class="profile-content-container" th:each="profile : ${profiles}" th:if="${profile.profileType == profileType.type}">
                        <div class="profile-year" th:text="${profile.year}"></div>
                        <div class="profile-content" th:text="${profile.content}"></div>
                    </div>
                </div>
                <div class="profile-container-en">
                    <div class="profile-content-container" th:each="profile : ${profiles}" th:if="${profile.profileType == profileType.type}">
                        <div class="profile-year" th:text="${profile.year}"></div>
                        <div class="profile-content" th:text="${profile.contentEn}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>