<!DOCTYPE html>
<html   lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
<head>
    <link rel="stylesheet" href="/css/profiles.css" />
</head>
<div layout:fragment="content" class="container">
    <div class="about-me-container"></div>
    <div class="type-container">
        <div class="type-header">Education</div>
        <div class="profile-container">
            <div class="profile-container-kr">
                <div class="profile-content-container">
                    <div class="profile-year"></div>
                    <div class="profile-content"></div>
                </div>
                <div class="profile-content-container">
                    <div class="profile-year"></div>
                    <div class="profile-content"></div>
                </div>
            </div>
            <div class="profile-container-en">
                <div class="profile-content-container">
                    <div class="profile-year"></div>
                    <div class="profile-content"></div>
                </div>
                <div class="profile-content-container">
                    <div class="profile-year"></div>
                    <div class="profile-content"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="type-container">
        <div class="type-header">Solo Exhibitions</div>
        <div class="profile-container">
            <div class="profile-container-kr">
                <div class="profile-content-container">
                    <div class="profile-year"></div>
                    <div class="profile-content"></div>
                </div>
                <div class="profile-content-container">
                    <div class="profile-year"></div>
                    <div class="profile-content"></div>
                </div>
            </div>
            <div class="profile-container-en">
                <div class="profile-content-container">
                    <div class="profile-year"></div>
                    <div class="profile-content"></div>
                </div>
                <div class="profile-content-container">
                    <div class="profile-year"></div>
                    <div class="profile-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>