<!DOCTYPE html>
<html   lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
<head>
    <link rel="stylesheet" href="/css/works.css" />
    <script src="/js/image.js" defer></script>
</head>
<div layout:fragment="content">
    <div class="work-list-container">
        <ul class="row">
            <li class="cell" th:each="work : ${works}">
                <div class="work-img-container"><img class="work-img" id="modal-open" th:src="'/admin/works/display?fileName='+${work.fileName}" alt="" loading="lazy" th:attr="data-id=${work.id}" /></div>
                <div class="work-info" th:text="${work.title}">info</div>
            </li>
        </ul>
    </div>

    <div id="work-modal" class="work-modal">
        <div class="work-modal-wrapper">
            <div class="modal-close">
                <i class="fa-solid fa-xmark" id="modal-close-btn"></i>
            </div>
            <div class="work-modal-img-container">
                <div class="work-modal-img"><img src="" alt=""></div>
            </div>
            <div class="work-modal-info-container">
                <div class="work-modal-info">Info</div>
            </div>
        </div>
    </div>
</div>
</html>