<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container">
    <div th:replace="~{fragments/nav.html :: navFrament}" />
</div>

<div class="img-container">
    <div class="contact-wrapper">
        <form th:action="@{/contact}" th:method="post" th:object="${request}" class="validation-form" novalidate>
            <fieldset>
                <legend>Contact</legend>
                <div>
                    <label for="exampleInputPassword1" class="form-label mt-4">Name</label>
                    <input th:field="*{senderName}" type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" required>
                    <div class="invalid-feedback">
                        Please write your name
                    </div>
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                    <input th:field="*{senderEmail}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <div class="invalid-feedback">
                        Please write your email
                    </div>
                </div>
                <div>
                    <label for="exampleInputPassword1" class="form-label mt-4">Subject</label>
                    <input th:field="*{subject}" type="text" class="form-control" id="exampleInputSubject" placeholder="Subject" required>
                    <div class="invalid-feedback">
                        Please write subject
                    </div>
                </div>
                <div>
                    <label for="exampleTextarea" class="form-label mt-4">Content</label>
                    <textarea th:field="*{content}" class="form-control" id="exampleTextarea" rows="3" required></textarea>
                    <div class="invalid-feedback">
                        Please write some content
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
</div>

<div class="home-footer">ALL IMAGES AND SITE CONTENT © CHOI MYEONGHEON</div>

<script>
    window.addEventListener('load', () => {
        const forms = document.getElementsByClassName('validation-form');

        Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }

                form.classList.add('was-validated');
            }, false);
        });
    }, false);
</script>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>